.DS_Store
.env
.env.*
!.env.example
.phpunit.result.cache
/.phpunit.cache
/vendor/
**/node_modules/
/.pnpm-store/
/apps/web/public/build/
/apps/web/public/hot
/apps/web/storage/*.key
/apps/web/storage/app/*
/apps/web/storage/framework/cache/*
/apps/web/storage/framework/sessions/*
/apps/web/storage/framework/testing/*
/apps/web/storage/framework/views/*
/apps/web/storage/logs/*
/apps/web/bootstrap/cache/*
/apps/web/database/*.sqlite
/apps/web/database/database.sqlite
coverage/
dist/
*.log
